fastapi
uvicorn
gunicorn
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pydantic
python-multipart
beautifulsoup4
lxml
pdfplumber
PyMuPDF
easyocr
python-docx
Pillow
langchain-ollama
supabase
httpx


